@media (min-width: 768px){

    body {
        display: grid;
        align-content: center;
        justify-content: center;
        height: 98vh;
    }

    main {
        grid-auto-flow: column;
        grid-template-rows: none;
    }

    div#content {
        width: 500px;
    }
}