@media (max-width: 768px) {

    body {
        gap: 20px;
    }

    main {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 0px;
        justify-items: center;
        align-content: center;
    }

    div#profile {
        width: 400px;
        height: 500px;
        align-content: space-between;
        justify-items: center;
    }

    div#content {
        width: 400px;
    }
}